<div class="alert alert-block alert-danger">
<b>Do not run these codes:</b> Else all the ouput will disappear since the csv file is not available.
</div>

In [1]:
# Start by importing required modules
import pandas as pd

%matplotlib inline

In [2]:
# Import the required data
# A change in encoding type was needed due to an error in data loading for food file.
land_df = pd.read_csv("Inputs_LandUse_E_All_Data_NOFLAG.csv",  encoding='latin-1')

In [3]:
# Have a quick look at the food dataframe
print(land_df.columns.is_unique)
print(land_df.shape)
print(land_df[land_df.duplicated() == True])
land_df.head()

True
(5667, 65)
Empty DataFrame
Columns: [Area Code, Area, Item Code, Item, Element Code, Element, Unit, Y1961, Y1962, Y1963, Y1964, Y1965, Y1966, Y1967, Y1968, Y1969, Y1970, Y1971, Y1972, Y1973, Y1974, Y1975, Y1976, Y1977, Y1978, Y1979, Y1980, Y1981, Y1982, Y1983, Y1984, Y1985, Y1986, Y1987, Y1988, Y1989, Y1990, Y1991, Y1992, Y1993, Y1994, Y1995, Y1996, Y1997, Y1998, Y1999, Y2000, Y2001, Y2002, Y2003, Y2004, Y2005, Y2006, Y2007, Y2008, Y2009, Y2010, Y2011, Y2012, Y2013, Y2014, Y2015, Y2016, Y2017, Y2018]
Index: []

[0 rows x 65 columns]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018
0,2,Afghanistan,6600,Country area,5110,Area,1000 ha,65286.0,65286.0,65286.0,...,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0
1,2,Afghanistan,6601,Land area,5110,Area,1000 ha,65286.0,65286.0,65286.0,...,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0
2,2,Afghanistan,6602,Agriculture,5110,Area,1000 ha,37700.0,37760.0,37810.0,...,37910.0,37911.0,37910.0,37910.0,37910.0,37910.0,37910.0,37910.0,37910.0,37919.0
3,2,Afghanistan,6610,Agricultural land,5110,Area,1000 ha,37700.0,37760.0,37810.0,...,37910.0,37911.0,37910.0,37910.0,37910.0,37910.0,37910.0,37910.0,37910.0,37919.0
4,2,Afghanistan,6620,Cropland,5110,Area,1000 ha,7700.0,7760.0,7810.0,...,7910.0,7911.0,7910.0,7910.0,7910.0,7910.0,7910.0,7910.0,7910.0,7919.0

In [4]:
# Delete unwanted columns
land_df.drop(
    columns=['Area Code', 'Item Code', 'Element Code', 'Unit',], axis=1, inplace=True)

In [5]:
land_df

,Area,Item,Element,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,...,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018
0,Afghanistan,Country area,Area,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,...,65286.0000,65286.0000,65286.0000,65286.0000,65286.0000,65286.000,65286.0000,65286.0000,65286.0000,65286.0000
1,Afghanistan,Land area,Area,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,...,65286.0000,65286.0000,65286.0000,65286.0000,65286.0000,65286.000,65286.0000,65286.0000,65286.0000,65286.0000
2,Afghanistan,Agriculture,Area,37700.0,37760.0,37810.0,37873.0,37875.0,37913.0,37979.0,...,37910.0000,37911.0000,37910.0000,37910.0000,37910.0000,37910.000,37910.0000,37910.0000,37910.0000,37919.0000
3,Afghanistan,Agricultural land,Area,37700.0,37760.0,37810.0,37873.0,37875.0,37913.0,37979.0,...,37910.0000,37911.0000,37910.0000,37910.0000,37910.0000,37910.000,37910.0000,37910.0000,37910.0000,37919.0000
4,Afghanistan,Cropland,Area,7700.0,7760.0,7810.0,7873.0,7875.0,7913.0,7979.0,...,7910.0000,7911.0000,7910.0000,7910.0000,7910.0000,7910.000,7910.0000,7910.0000,7910.0000,7919.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5662,Net Food Importing Developing Countries,Inland waters,Area,76782.7,76782.7,76782.7,76782.7,76782.7,76782.7,76782.7,...,67233.9506,67167.7752,54812.1101,54847.3588,55096.3067,55036.489,54735.2443,54747.2624,54841.8408,54804.1163
5663,Net Food Importing Developing Countries,Land area equipped for irrigation,Area,22495.0,22916.0,23251.0,23809.0,24147.0,25066.0,25741.0,...,50265.9314,50472.7700,50630.1400,50977.2500,51319.1700,51412.880,51544.8800,51493.8800,51648.2400,51648.2400
5664,Net Food Importing Developing Countries,Agriculture area under organic agric.,Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1802.7400,1458.2200,1439.1400,1527.9100,1774.7900,1891.780,2373.0810,2509.8640,2797.9058,2659.0535
5665,Net Food Importing Developing Countries,Agriculture area certified organic,Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,406.5300,564.7700,476.9200,670.9800,771.7400,980.420,1071.9010,1381.6200,821.2409,1580.4695
5666,Net Food Importing Developing Countries,Primary Forest,Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,262951.3750,262524.8640,261518.8710,260512.8780,259506.8850,258500.892,257494.8990,257494.8990,257494.8990,NaN

In [6]:
# Rename the some of the column name
# Rename the remaining columns
land_df.rename(columns=lambda x: x[-4:] if x[0] == 'Y' else x, inplace=True)
land_df = land_df.rename(
    columns = {
        'Area': 'Country', 'Item': 'Type'
        } 
)
land_df = land_df.set_index('Country')
land_df.head()
#crop_df.info()

,Type,Element,1961,1962,1963,1964,1965,1966,1967,1968,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Country area,Area,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,...,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0
Afghanistan,Land area,Area,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,...,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0
Afghanistan,Agriculture,Area,37700.0,37760.0,37810.0,37873.0,37875.0,37913.0,37979.0,37980.0,...,37910.0,37911.0,37910.0,37910.0,37910.0,37910.0,37910.0,37910.0,37910.0,37919.0
Afghanistan,Agricultural land,Area,37700.0,37760.0,37810.0,37873.0,37875.0,37913.0,37979.0,37980.0,...,37910.0,37911.0,37910.0,37910.0,37910.0,37910.0,37910.0,37910.0,37910.0,37919.0
Afghanistan,Cropland,Area,7700.0,7760.0,7810.0,7873.0,7875.0,7913.0,7979.0,7980.0,...,7910.0,7911.0,7910.0,7910.0,7910.0,7910.0,7910.0,7910.0,7910.0,7919.0

In [7]:
# Fill the missing values with 0
land_df.fillna(value=0, inplace=True)
land_df.head()

,Type,Element,1961,1962,1963,1964,1965,1966,1967,1968,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Country area,Area,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,...,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0
Afghanistan,Land area,Area,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,...,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0
Afghanistan,Agriculture,Area,37700.0,37760.0,37810.0,37873.0,37875.0,37913.0,37979.0,37980.0,...,37910.0,37911.0,37910.0,37910.0,37910.0,37910.0,37910.0,37910.0,37910.0,37919.0
Afghanistan,Agricultural land,Area,37700.0,37760.0,37810.0,37873.0,37875.0,37913.0,37979.0,37980.0,...,37910.0,37911.0,37910.0,37910.0,37910.0,37910.0,37910.0,37910.0,37910.0,37919.0
Afghanistan,Cropland,Area,7700.0,7760.0,7810.0,7873.0,7875.0,7913.0,7979.0,7980.0,...,7910.0,7911.0,7910.0,7910.0,7910.0,7910.0,7910.0,7910.0,7910.0,7919.0

In [8]:
## Delete region rows.
land_df.drop(
    index=['Africa','Americas', 'Asia', 'Australia and New Zealand','Belgium-Luxembourg', 
           'Caribbean', 'Central America', 'Central Asia', 'China, Hong Kong SAR', 
           'China, Macao SAR', 'China, mainland', 'China, Taiwan Province of', 
           'Eastern Africa', 'Eastern Asia', 'Eastern Europe', 'Ethiopia PDR',
           'Europe', 'European Union (27)', 'European Union (28)', 'Land Locked Developing Countries',
           'Least Developed Countries', 'Low Income Food Deficit Countries', 'Melanesia', 'Micronesia',
           'Middle Africa', 'Net Food Importing Developing Countries', 'Northern Africa', 'Northern America', 
           'Northern Europe', 'Oceania', 'Polynesia', 'Serbia and Montenegro', 'Small Island Developing States', 
           'South America', 'South-eastern Asia', 'Southern Africa', 'Southern Asia', 'Southern Europe', 'Sudan (former)', 
           'USSR', 'Western Africa', 'Western Asia', 'Western Europe', 'World',
            ], axis=0, inplace=True) 
land_df

,Type,Element,1961,1962,1963,1964,1965,1966,1967,1968,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Country area,Area,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,...,65286.0,65286.0,65286.00,65286.00,65286.00,65286.00,65286.00,65286.0,65286.00,65286.00
Afghanistan,Land area,Area,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,...,65286.0,65286.0,65286.00,65286.00,65286.00,65286.00,65286.00,65286.0,65286.00,65286.00
Afghanistan,Agriculture,Area,37700.0,37760.0,37810.0,37873.0,37875.0,37913.0,37979.0,37980.0,...,37910.0,37911.0,37910.00,37910.00,37910.00,37910.00,37910.00,37910.0,37910.00,37919.00
Afghanistan,Agricultural land,Area,37700.0,37760.0,37810.0,37873.0,37875.0,37913.0,37979.0,37980.0,...,37910.0,37911.0,37910.00,37910.00,37910.00,37910.00,37910.00,37910.0,37910.00,37919.00
Afghanistan,Cropland,Area,7700.0,7760.0,7810.0,7873.0,7875.0,7913.0,7979.0,7980.0,...,7910.0,7911.0,7910.00,7910.00,7910.00,7910.00,7910.00,7910.0,7910.00,7919.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,Inland waters,Area,391.0,391.0,391.0,391.0,391.0,391.0,391.0,391.0,...,391.0,391.0,391.00,391.00,391.00,391.00,391.00,391.0,391.00,391.00
Zimbabwe,Land area equipped for irrigation,Area,22.0,23.0,23.0,32.0,34.0,34.0,46.0,46.0,...,174.0,174.0,174.00,174.00,174.00,175.00,175.00,175.0,175.00,175.00
Zimbabwe,Agriculture area under organic agric.,Area,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.4,2.0,0.47,0.63,0.37,0.47,0.98,3.2,3.25,0.42
Zimbabwe,Agriculture area certified organic,Area,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.1,0.9,0.38,0.44,0.00,0.00,0.00,1.2,0.98,0.42
Zimbabwe,Primary Forest,Area,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,801.0,801.0,801.00,801.00,801.00,801.00,801.00,801.0,801.00,0.00

In [9]:
land_df = land_df.loc[
    (land_df['Type'] == 'Country area') | 
    (land_df['Type'] == 'Cropland') | 
    (land_df['Type'] == 'Cropland area actually irrigated')]
land_df

,Type,Element,1961,1962,1963,1964,1965,1966,1967,1968,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Country area,Area,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,...,65286.0,65286.0,65286.0,65286.0,65286.00,65286.0,65286.0,65286.0,65286.0,65286.0
Afghanistan,Cropland,Area,7700.0,7760.0,7810.0,7873.0,7875.0,7913.0,7979.0,7980.0,...,7910.0,7911.0,7910.0,7910.0,7910.00,7910.0,7910.0,7910.0,7910.0,7919.0
Albania,Country area,Area,2875.0,2875.0,2875.0,2875.0,2875.0,2875.0,2875.0,2875.0,...,2875.0,2875.0,2875.0,2875.0,2875.00,2875.0,2875.0,2875.0,2875.0,2875.0
Albania,Cropland,Area,479.0,487.0,495.0,501.0,522.0,540.0,556.0,570.0,...,696.0,696.0,696.0,696.0,696.30,696.0,696.1,703.5,691.1,696.0
Albania,Cropland area actually irrigated,Area,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,202.0,204.5,204.3,204.7,205.26,149.8,158.0,169.0,171.0,176.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslav SFR,Cropland,Area,8382.0,8363.0,8353.0,8343.0,8306.0,8266.0,8267.0,8246.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0
Zambia,Country area,Area,75261.0,75261.0,75261.0,75261.0,75261.0,75261.0,75261.0,75261.0,...,75261.0,75261.0,75261.0,75261.0,75261.00,75261.0,75261.0,75261.0,75261.0,75261.0
Zambia,Cropland,Area,2557.0,2560.0,2584.0,2609.0,2613.0,2667.0,2681.0,2715.0,...,3586.0,3436.0,3636.0,3836.0,3736.00,3836.0,3836.0,3836.0,3836.0,3836.0
Zimbabwe,Country area,Area,39076.0,39076.0,39076.0,39076.0,39076.0,39076.0,39076.0,39076.0,...,39076.0,39076.0,39076.0,39076.0,39076.00,39076.0,39076.0,39076.0,39076.0,39076.0
Zimbabwe,Cropland,Area,1985.0,2035.0,2085.0,2135.0,2165.0,2235.0,2285.0,2335.0,...,4200.0,4100.0,4300.0,4100.0,4100.00,4100.0,4100.0,4100.0,4100.0,4100.0

In [10]:
# Delete unwanted columns
land_df.drop(
    columns=['Element'], axis=1, inplace=True)
land_df

C:\Users\GPEL_HPENVY\anaconda3\envs\geo_env\lib\site-packages\pandas\core\frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Type,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Country area,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,65286.0,...,65286.0,65286.0,65286.0,65286.0,65286.00,65286.0,65286.0,65286.0,65286.0,65286.0
Afghanistan,Cropland,7700.0,7760.0,7810.0,7873.0,7875.0,7913.0,7979.0,7980.0,7996.0,...,7910.0,7911.0,7910.0,7910.0,7910.00,7910.0,7910.0,7910.0,7910.0,7919.0
Albania,Country area,2875.0,2875.0,2875.0,2875.0,2875.0,2875.0,2875.0,2875.0,2875.0,...,2875.0,2875.0,2875.0,2875.0,2875.00,2875.0,2875.0,2875.0,2875.0,2875.0
Albania,Cropland,479.0,487.0,495.0,501.0,522.0,540.0,556.0,570.0,585.0,...,696.0,696.0,696.0,696.0,696.30,696.0,696.1,703.5,691.1,696.0
Albania,Cropland area actually irrigated,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,202.0,204.5,204.3,204.7,205.26,149.8,158.0,169.0,171.0,176.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslav SFR,Cropland,8382.0,8363.0,8353.0,8343.0,8306.0,8266.0,8267.0,8246.0,8237.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0
Zambia,Country area,75261.0,75261.0,75261.0,75261.0,75261.0,75261.0,75261.0,75261.0,75261.0,...,75261.0,75261.0,75261.0,75261.0,75261.00,75261.0,75261.0,75261.0,75261.0,75261.0
Zambia,Cropland,2557.0,2560.0,2584.0,2609.0,2613.0,2667.0,2681.0,2715.0,2744.0,...,3586.0,3436.0,3636.0,3836.0,3736.00,3836.0,3836.0,3836.0,3836.0,3836.0
Zimbabwe,Country area,39076.0,39076.0,39076.0,39076.0,39076.0,39076.0,39076.0,39076.0,39076.0,...,39076.0,39076.0,39076.0,39076.0,39076.00,39076.0,39076.0,39076.0,39076.0,39076.0
Zimbabwe,Cropland,1985.0,2035.0,2085.0,2135.0,2165.0,2235.0,2285.0,2335.0,2385.0,...,4200.0,4100.0,4300.0,4100.0,4100.00,4100.0,4100.0,4100.0,4100.0,4100.0

In [11]:
# Output to csv file.
land_df.to_csv('Land.csv')