<div class="alert alert-block alert-danger">
<b>Do not run these codes:</b> Else all the ouput will disappear since the csv file is not available.
</div>

In [1]:
# Start by importing required modules
import pandas as pd

%matplotlib inline

In [2]:
# Import the required data
# A change in encoding type was needed due to an error in data loading for food file.
temperature_df = pd.read_csv("Environment_Temperature_change_E_All_Data_NOFLAG.csv",  encoding='latin-1')

In [3]:
# Have a quick look at the food dataframe
print(temperature_df.columns.is_unique)
print(temperature_df.shape)
print(temperature_df[temperature_df.duplicated() == True])
temperature_df.head()

True
(9690, 67)
Empty DataFrame
Columns: [Area Code, Area, Months Code, Months, Element Code, Element, Unit, Y1961, Y1962, Y1963, Y1964, Y1965, Y1966, Y1967, Y1968, Y1969, Y1970, Y1971, Y1972, Y1973, Y1974, Y1975, Y1976, Y1977, Y1978, Y1979, Y1980, Y1981, Y1982, Y1983, Y1984, Y1985, Y1986, Y1987, Y1988, Y1989, Y1990, Y1991, Y1992, Y1993, Y1994, Y1995, Y1996, Y1997, Y1998, Y1999, Y2000, Y2001, Y2002, Y2003, Y2004, Y2005, Y2006, Y2007, Y2008, Y2009, Y2010, Y2011, Y2012, Y2013, Y2014, Y2015, Y2016, Y2017, Y2018, Y2019, Y2020]
Index: []

[0 rows x 67 columns]

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020
0,2,Afghanistan,7001,January,7271,Temperature change,°C,0.746,0.009,2.695,...,1.312,-0.437,1.366,1.808,1.985,3.561,1.386,2.120,3.187,-0.472
1,2,Afghanistan,7001,January,6078,Standard Deviation,°C,1.947,1.947,1.947,...,1.947,1.947,1.947,1.947,1.947,1.947,1.947,1.947,1.947,1.947
2,2,Afghanistan,7002,February,7271,Temperature change,°C,-1.792,2.397,3.863,...,0.448,-2.994,1.634,-3.111,2.750,2.390,-0.077,2.820,0.334,2.668
3,2,Afghanistan,7002,February,6078,Standard Deviation,°C,2.590,2.590,2.590,...,2.590,2.590,2.590,2.590,2.590,2.590,2.590,2.590,2.590,2.590
4,2,Afghanistan,7003,March,7271,Temperature change,°C,0.458,1.281,0.375,...,0.877,-0.309,2.379,0.026,-0.500,2.490,0.975,4.536,0.471,0.731

In [4]:
# Remove columns that are not required
temperature_df = temperature_df.drop(
    ['Area Code', 'Months Code', 'Element Code', 'Unit', 
    ],
    axis=1 
)

In [5]:
temperature_df.head()

,Area,Months,Element,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020
0,Afghanistan,January,Temperature change,0.746,0.009,2.695,-5.277,1.827,3.629,-1.436,...,1.312,-0.437,1.366,1.808,1.985,3.561,1.386,2.120,3.187,-0.472
1,Afghanistan,January,Standard Deviation,1.947,1.947,1.947,1.947,1.947,1.947,1.947,...,1.947,1.947,1.947,1.947,1.947,1.947,1.947,1.947,1.947,1.947
2,Afghanistan,February,Temperature change,-1.792,2.397,3.863,-0.251,-0.140,3.397,0.293,...,0.448,-2.994,1.634,-3.111,2.750,2.390,-0.077,2.820,0.334,2.668
3,Afghanistan,February,Standard Deviation,2.590,2.590,2.590,2.590,2.590,2.590,2.590,...,2.590,2.590,2.590,2.590,2.590,2.590,2.590,2.590,2.590,2.590
4,Afghanistan,March,Temperature change,0.458,1.281,0.375,1.608,-0.953,-0.068,-0.761,...,0.877,-0.309,2.379,0.026,-0.500,2.490,0.975,4.536,0.471,0.731

In [6]:
# Rename the some of the column name
# Rename the remaining columns
temperature_df.rename(columns=lambda x: x[-4:] if x[0] == 'Y' else x, inplace=True)
temperature_df = temperature_df.rename(
    columns = {
        'Element': "Type", 'Area': 'Country'
        } 
)
temperature_df= temperature_df.set_index('Country')
temperature_df.head()

,Months,Type,1961,1962,1963,1964,1965,1966,1967,1968,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,January,Temperature change,0.746,0.009,2.695,-5.277,1.827,3.629,-1.436,0.388,...,1.312,-0.437,1.366,1.808,1.985,3.561,1.386,2.120,3.187,-0.472
Afghanistan,January,Standard Deviation,1.947,1.947,1.947,1.947,1.947,1.947,1.947,1.947,...,1.947,1.947,1.947,1.947,1.947,1.947,1.947,1.947,1.947,1.947
Afghanistan,February,Temperature change,-1.792,2.397,3.863,-0.251,-0.140,3.397,0.293,-2.059,...,0.448,-2.994,1.634,-3.111,2.750,2.390,-0.077,2.820,0.334,2.668
Afghanistan,February,Standard Deviation,2.590,2.590,2.590,2.590,2.590,2.590,2.590,2.590,...,2.590,2.590,2.590,2.590,2.590,2.590,2.590,2.590,2.590,2.590
Afghanistan,March,Temperature change,0.458,1.281,0.375,1.608,-0.953,-0.068,-0.761,0.493,...,0.877,-0.309,2.379,0.026,-0.500,2.490,0.975,4.536,0.471,0.731

In [7]:
# Fill the missing values with 0
temperature_df.fillna(value=0, inplace=True)
temperature_df.head()

,Months,Type,1961,1962,1963,1964,1965,1966,1967,1968,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,January,Temperature change,0.746,0.009,2.695,-5.277,1.827,3.629,-1.436,0.388,...,1.312,-0.437,1.366,1.808,1.985,3.561,1.386,2.120,3.187,-0.472
Afghanistan,January,Standard Deviation,1.947,1.947,1.947,1.947,1.947,1.947,1.947,1.947,...,1.947,1.947,1.947,1.947,1.947,1.947,1.947,1.947,1.947,1.947
Afghanistan,February,Temperature change,-1.792,2.397,3.863,-0.251,-0.140,3.397,0.293,-2.059,...,0.448,-2.994,1.634,-3.111,2.750,2.390,-0.077,2.820,0.334,2.668
Afghanistan,February,Standard Deviation,2.590,2.590,2.590,2.590,2.590,2.590,2.590,2.590,...,2.590,2.590,2.590,2.590,2.590,2.590,2.590,2.590,2.590,2.590
Afghanistan,March,Temperature change,0.458,1.281,0.375,1.608,-0.953,-0.068,-0.761,0.493,...,0.877,-0.309,2.379,0.026,-0.500,2.490,0.975,4.536,0.471,0.731

In [8]:
## Delete region rows.  We want only countries.
temperature_df.drop(
    index=['Africa','Americas', 'Annex I countries', 'Asia', 'Australia and New Zealand','Belgium-Luxembourg', 
           'Caribbean', 'Central America', 'Central Asia', 'China, Hong Kong SAR', 
           'China, Macao SAR', 'China, mainland', 'China, Taiwan Province of', 
           'Eastern Africa', 'Eastern Asia', 'Eastern Europe', 'Ethiopia PDR',
           'Europe', 'European Union (27)', 'European Union (28)', 'Land Locked Developing Countries',
           'Least Developed Countries', 'Low Income Food Deficit Countries', 'Melanesia', 'Micronesia',
           'Middle Africa', 'Net Food Importing Developing Countries', 'Non-Annex I countries', 'Northern Africa', 'Northern America', 
           'Northern Europe', 'Oceania', 'OECD', 'Polynesia', 'Serbia and Montenegro', 'Small Island Developing States', 
           'South America', 'South-eastern Asia', 'Southern Africa', 'Southern Asia', 'Southern Europe', 'Sudan (former)', 
           'USSR', 'Western Africa', 'Western Asia', 'Western Europe', 'World',
            ], axis=0, inplace=True) 
temperature_df

,Months,Type,1961,1962,1963,1964,1965,1966,1967,1968,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,January,Temperature change,0.746,0.009,2.695,-5.277,1.827,3.629,-1.436,0.388,...,1.312,-0.437,1.366,1.808,1.985,3.561,1.386,2.120,3.187,-0.472
Afghanistan,January,Standard Deviation,1.947,1.947,1.947,1.947,1.947,1.947,1.947,1.947,...,1.947,1.947,1.947,1.947,1.947,1.947,1.947,1.947,1.947,1.947
Afghanistan,February,Temperature change,-1.792,2.397,3.863,-0.251,-0.140,3.397,0.293,-2.059,...,0.448,-2.994,1.634,-3.111,2.750,2.390,-0.077,2.820,0.334,2.668
Afghanistan,February,Standard Deviation,2.590,2.590,2.590,2.590,2.590,2.590,2.590,2.590,...,2.590,2.590,2.590,2.590,2.590,2.590,2.590,2.590,2.590,2.590
Afghanistan,March,Temperature change,0.458,1.281,0.375,1.608,-0.953,-0.068,-0.761,0.493,...,0.877,-0.309,2.379,0.026,-0.500,2.490,0.975,4.536,0.471,0.731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,JunJulAug,Standard Deviation,0.519,0.519,0.519,0.519,0.519,0.519,0.519,0.519,...,0.519,0.519,0.519,0.519,0.519,0.519,0.519,0.519,0.519,0.519
Zimbabwe,SepOctNov,Temperature change,-0.119,0.616,0.278,0.002,-1.012,-0.104,-0.291,-0.384,...,0.881,1.155,0.673,0.767,1.578,1.860,0.610,0.831,1.675,0.754
Zimbabwe,SepOctNov,Standard Deviation,0.501,0.501,0.501,0.501,0.501,0.501,0.501,0.501,...,0.501,0.501,0.501,0.501,0.501,0.501,0.501,0.501,0.501,0.501
Zimbabwe,Meteorological year,Temperature change,0.265,0.236,-0.463,-0.107,-0.486,0.203,-0.060,0.077,...,0.609,0.720,0.394,0.507,1.226,1.470,0.443,0.747,1.359,0.820
Zimbabwe,Meteorological year,Standard Deviation,0.313,0.313,0.313,0.313,0.313,0.313,0.313,0.313,...,0.313,0.313,0.313,0.313,0.313,0.313,0.313,0.313,0.313,0.313

In [9]:
print(temperature_df.index.value_counts())

Afghanistan         34
Papua New Guinea    34
Niger               34
Nigeria             34
Niue                34
                    ..
Gibraltar           34
Greece              34
Greenland           34
Grenada             34
Zimbabwe            34
Name: Country, Length: 238, dtype: int64

In [10]:
# Drop everything except month = 'Meteorological year' and Element = 'Temperature change'
temperature_df = temperature_df.loc[
    (temperature_df['Months'] == 'Meteorological year') ]
temperature_df

,Months,Type,1961,1962,1963,1964,1965,1966,1967,1968,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Meteorological year,Temperature change,-0.121,-0.171,0.841,-0.779,-0.254,0.172,-0.374,-0.375,...,1.463,0.283,1.325,0.536,1.166,1.581,1.626,1.682,1.125,0.652
Afghanistan,Meteorological year,Standard Deviation,0.553,0.553,0.553,0.553,0.553,0.553,0.553,0.553,...,0.553,0.553,0.553,0.553,0.553,0.553,0.553,0.553,0.553,0.553
Albania,Meteorological year,Temperature change,0.639,0.345,0.078,-0.166,-0.388,0.553,-0.082,0.073,...,1.133,1.577,1.431,1.357,1.703,1.624,1.286,2.189,1.858,1.671
Albania,Meteorological year,Standard Deviation,0.436,0.436,0.436,0.436,0.436,0.436,0.436,0.436,...,0.436,0.436,0.436,0.436,0.436,0.436,0.436,0.436,0.436,0.436
Algeria,Meteorological year,Temperature change,0.110,0.042,0.005,0.169,-0.176,0.373,-0.020,-0.062,...,1.427,1.184,1.211,1.715,1.151,1.776,1.537,1.246,1.127,1.943
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslav SFR,Meteorological year,Standard Deviation,0.500,0.500,0.500,0.500,0.500,0.500,0.500,0.500,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
Zambia,Meteorological year,Temperature change,0.237,-0.160,-0.390,-0.279,-0.417,0.298,-0.011,-0.123,...,0.942,1.024,1.069,0.935,1.863,1.300,0.629,0.888,1.310,1.304
Zambia,Meteorological year,Standard Deviation,0.264,0.264,0.264,0.264,0.264,0.264,0.264,0.264,...,0.264,0.264,0.264,0.264,0.264,0.264,0.264,0.264,0.264,0.264
Zimbabwe,Meteorological year,Temperature change,0.265,0.236,-0.463,-0.107,-0.486,0.203,-0.060,0.077,...,0.609,0.720,0.394,0.507,1.226,1.470,0.443,0.747,1.359,0.820
Zimbabwe,Meteorological year,Standard Deviation,0.313,0.313,0.313,0.313,0.313,0.313,0.313,0.313,...,0.313,0.313,0.313,0.313,0.313,0.313,0.313,0.313,0.313,0.313

In [11]:
## Delete certain temperature type.
temperature_df = temperature_df[temperature_df.Type != 'Standard Deviation']
temperature_df

,Months,Type,1961,1962,1963,1964,1965,1966,1967,1968,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Meteorological year,Temperature change,-0.121,-0.171,0.841,-0.779,-0.254,0.172,-0.374,-0.375,...,1.463,0.283,1.325,0.536,1.166,1.581,1.626,1.682,1.125,0.652
Albania,Meteorological year,Temperature change,0.639,0.345,0.078,-0.166,-0.388,0.553,-0.082,0.073,...,1.133,1.577,1.431,1.357,1.703,1.624,1.286,2.189,1.858,1.671
Algeria,Meteorological year,Temperature change,0.110,0.042,0.005,0.169,-0.176,0.373,-0.020,-0.062,...,1.427,1.184,1.211,1.715,1.151,1.776,1.537,1.246,1.127,1.943
American Samoa,Meteorological year,Temperature change,0.042,-0.080,0.128,-0.178,-0.526,0.218,-0.342,-0.172,...,0.711,0.732,1.016,0.887,0.726,1.256,1.151,0.905,1.255,1.161
Andorra,Meteorological year,Temperature change,0.744,0.117,-0.746,0.315,-0.499,0.406,0.620,-0.013,...,1.586,1.179,0.748,1.868,1.564,1.845,1.784,1.760,1.800,2.378
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Sahara,Meteorological year,Temperature change,0.514,0.457,0.241,0.726,-0.439,0.222,0.058,-0.303,...,1.593,1.400,1.523,1.470,1.513,1.800,2.234,0.917,1.497,2.079
Yemen,Meteorological year,Temperature change,0.034,-0.005,0.171,-0.250,-0.621,0.091,-0.254,-0.252,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
Yugoslav SFR,Meteorological year,Temperature change,0.930,-0.089,-0.267,-0.483,-0.527,0.690,0.275,0.189,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
Zambia,Meteorological year,Temperature change,0.237,-0.160,-0.390,-0.279,-0.417,0.298,-0.011,-0.123,...,0.942,1.024,1.069,0.935,1.863,1.300,0.629,0.888,1.310,1.304
Zimbabwe,Meteorological year,Temperature change,0.265,0.236,-0.463,-0.107,-0.486,0.203,-0.060,0.077,...,0.609,0.720,0.394,0.507,1.226,1.470,0.443,0.747,1.359,0.820

In [12]:
# Remove columns that are not required
temperature_df = temperature_df.drop(
    ['Months', 'Type'],
    axis=1 
)
temperature_df

,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,-0.121,-0.171,0.841,-0.779,-0.254,0.172,-0.374,-0.375,-0.490,0.852,...,1.463,0.283,1.325,0.536,1.166,1.581,1.626,1.682,1.125,0.652
Albania,0.639,0.345,0.078,-0.166,-0.388,0.553,-0.082,0.073,-0.024,-0.127,...,1.133,1.577,1.431,1.357,1.703,1.624,1.286,2.189,1.858,1.671
Algeria,0.110,0.042,0.005,0.169,-0.176,0.373,-0.020,-0.062,0.325,0.130,...,1.427,1.184,1.211,1.715,1.151,1.776,1.537,1.246,1.127,1.943
American Samoa,0.042,-0.080,0.128,-0.178,-0.526,0.218,-0.342,-0.172,0.147,-0.033,...,0.711,0.732,1.016,0.887,0.726,1.256,1.151,0.905,1.255,1.161
Andorra,0.744,0.117,-0.746,0.315,-0.499,0.406,0.620,-0.013,-0.171,0.093,...,1.586,1.179,0.748,1.868,1.564,1.845,1.784,1.760,1.800,2.378
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Sahara,0.514,0.457,0.241,0.726,-0.439,0.222,0.058,-0.303,0.397,0.557,...,1.593,1.400,1.523,1.470,1.513,1.800,2.234,0.917,1.497,2.079
Yemen,0.034,-0.005,0.171,-0.250,-0.621,0.091,-0.254,-0.252,0.254,0.379,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
Yugoslav SFR,0.930,-0.089,-0.267,-0.483,-0.527,0.690,0.275,0.189,-0.219,-0.312,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
Zambia,0.237,-0.160,-0.390,-0.279,-0.417,0.298,-0.011,-0.123,0.252,0.367,...,0.942,1.024,1.069,0.935,1.863,1.300,0.629,0.888,1.310,1.304
Zimbabwe,0.265,0.236,-0.463,-0.107,-0.486,0.203,-0.060,0.077,0.204,0.412,...,0.609,0.720,0.394,0.507,1.226,1.470,0.443,0.747,1.359,0.820

In [13]:
# Output to csv file.
temperature_df.to_csv('Temperature.csv')